/* Color variables */
@BackgroundColor: #2b2e4a;
@SectionColor: #414672;
@HeaderFooter_Primary: #eeeeee;
@HeaderFooter_Hover: #fda403;
@Section_Primary: #eeeeee;
@Section_Hover: #fda403;
@Message_Color: #cecece;
@FontColor_Primary: #2b2e4a;
@FontColor_Hover: #d41740;
@GreenColor: #126d43;
@BlueColor: #15616b;
@RedColor: #d41740;

/* Size variables */
@width: 100%;
@height: 50px;
@padding: 2%;
@margin: 2%;
@borderRadius: 0.5rem;

/* fonts */
@font-face{
    font-family: primaryFont;
    src: url(../../fonts/Alegreya-Bold.otf);
}
@font-face{
    font-family: SecondaryFont;
    src: url(../../fonts/Lato-Light.ttf);
}
body{
    .d-flex-row;
    justify-content: center;
    background-color: @Section_Primary;
    font-size: 100%;
}
img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* classes */
.carousel-item img{
    height: 400px;
}
.bg-light{
    background-color: @HeaderFooter_Primary !important;
}
.bg-light:hover{
    background-color: @HeaderFooter_Hover !important;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
}
.flex-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.flex-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top-sharp {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.bottom-sharp {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.left-sharp {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.right-sharp {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.top-none {
    border-top: none !important;
}
.bottom-none {
    border-bottom: none !important;
}
.left-none {
    border-left: none !important;
}
.right-none {
    border-right: none !important;
}
.w-15 {
    width: 15%;
}
.w-85 {
    width: 85%;
}
.links {
    width: 10%;
}
.card{
    margin: 15px !important;
}
.progress{
    margin: 15px !important;
    border-style: solid;
    height: 1.2rem;
    border-color: @BackgroundColor;
} 
.d-flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.d-flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.carousel{
    border-radius: 15px;
}
.pic-frame{
    .d-flex-row;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.pic-frame{
    img{
        width: 85px;
        height: 85px;
        border: solid 0.1rem @Section_Primary;
        border-radius: 100%;
        padding: 2px;
    }
}
.section{
    align-items: center;
    justify-content: center;
    font-family: SecondaryFont;
    font-size: 1rem;
    text-justify: newspaper;
    text-align: center;
    padding: @padding;
    border-radius: @borderRadius;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
}
.blue-section{
    background-color: @BackgroundColor;
    color: @Section_Primary;
}
.white-section{
    background-color: @Section_Primary;
    color: @BackgroundColor;
    p{
        color: @BackgroundColor;
    }
    h1,h2,h3,h4,h5,h6 {
        color: @BackgroundColor;
    }
}
.contact-section{
    .section;
    border: solid .2rem @HeaderFooter_Primary;
    a{
        background-color: @FontColor_Primary;  
        transition: background-color 1s;
        -webkit-transition: background-color 1s;
    }
    a:hover{
        background-color: @Section_Hover;
    }
    a:active{
        background-color: @Section_Hover;
    }
    .nav{
        justify-content: center;
    }
    .nav-item{
        .nav-link{
            .d-flex-row;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            width: 50px;
            height: 50px;
            margin: 5px;
            position: relative;
            border: none;
        }
    }
}
.horizontal-section{
    .section;
    padding: 0px;
    border: solid .2rem @HeaderFooter_Primary;
    p{
        font-size: 80%;
        width:  @width;
        text-align: center;
        letter-spacing: 0.096rem;
    }
    .nav-item{
        a{
            color: @SectionColor;
            font-size: 1rem;
            font-weight: bold;
            padding-right: .5rem;
            padding-left: .5rem;
        }
        .nav-link.active{
            .top-sharp;
            background-color: @BackgroundColor !important;
            color: @Section_Primary;
        }
    }
    .nav-item:hover{
        color: @BackgroundColor !important;
    }
}
.text-section{
    .d-flex-row;
    align-items: center;
    justify-content: center;
    font-family: SecondaryFont;
    font-size: 1.2rem !important;
    text-justify: newspaper;
    text-align: justify;
    border-radius: @borderRadius;
}
.text-class{
  text-align: justify !important;
  font-size: 1rem;
  p::first-letter{
    font-size: 1.5rem;
  }
}
.sample-section{
    .d-flex-row;
    font-family: SecondaryFont;
    font-size: 1rem;
    text-justify: newspaper;
    text-align: justify;
    height: 400px;
    border-radius: @borderRadius;
}
.sample-art{
    width: 250px;
    height: 250px;
    animation: SampleArtAnimation 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.badge {
    color: @HeaderFooter_Primary;
    background-color: @BackgroundColor;
}
.skill-section{
    .d-flex-column;
    font-family: SecondaryFont;
    font-size: 1rem;
    color: @Section_Primary;
    border-radius: @borderRadius;
    .badge {
        font-size: .65rem;
        font-weight: bold;
    }
}
.green{
    background-color: @GreenColor !important;
}
.blue{
    background-color: @BlueColor !important;
}
.red{
    background-color: @RedColor !important;
}
.progress{
    padding: 0 !important;
    margin: 5px !important;
    background-color: @BackgroundColor;
}
.progress-bar{
    font-weight: bold;
    background-color: @HeaderFooter_Hover;
    color: @BackgroundColor;
    text-align: left !important;
    text-indent: 1%;
    p{
        font-family: SecondaryFont;
        font-size: .65rem;
        font-weight: bold;
    }
} 
.project {
    .white-section;
    text-decoration: none;
    border: 0.12rem solid;
    border-color: @BackgroundColor;
    border-radius: @borderRadius;
    text-indent: 1rem;
    font-size: 0.8rem;
    transition: background-color .2s;
    -webkit-transition: background-color .2s;
}
.project:hover {
    text-decoration: none;
    .blue-section;
}
.fab{
    color: @HeaderFooter_Primary;
    font-size: 1.5rem;
}
h1 , h2 , h3 , h4 , h5 , h6{
    font-weight: bold;
}
.message{
    font-size: smaller;
    color: @Message_Color;
}

/* Animation */
@keyframes SampleArtAnimation{
    0%{
        width: 250px;
        height: 250px;
        transform: rotate(2deg);
    }
    50%{
        width: 255px;
        height: 255px;
        transform: rotate(-2deg);
    }
    100%{
        width: 250px;
        height: 250px;
        transform: rotate(2deg);
    }
}
@keyframes progress-bar-stripes
{
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1rem 0;
    }
}