/* Color variables */
@BackgroundColor: #05091f;
@ShapeColor1_Primary: #ad143a;
@ShapeColor1_Secondary: #da1c4b;
@ShapeColor2_Primary: #946b14;
@ShapeColor2_Secondary: #c78a07;
@FontColor_Primary: #ffeff3;
@FontColor_Secondary: #ffb7c9;
@GreenColor: #126d43;
@BlueColor: #15616b;
@RedColor: #d41740;

/* Size variables */
@width: 100%;
@height: 50px;
@padding: 2%;
@margin: 2%;
@borderRadius: 15px;

/* fonts */
@font-face{
    font-family: primaryFont;
    src: url(../../fonts/Alegreya-Bold.otf);
}
@font-face{
    font-family: secondaryFont;
    src: url(../../fonts/Lato-Light.ttf);
}
body{
    .d-flex-row;
    justify-content: center;
    background-color: @BackgroundColor;
    font-size: 100%;
}
img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* classes */
.carousel-item img{
    height: 400px;
}
.bg-light{
    background-color: @ShapeColor1_Primary !important;
}
.bg-light:hover{
    background-color: @ShapeColor1_Secondary !important;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
}
.flex-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.flex-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top-sharp {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.bottom-sharp {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.left-sharp {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.right-sharp {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.links {
    width: 10%;
}
.card{
    margin: 15px !important;
}
.progress{
    margin: 15px !important;
    border-style: solid;
    height: 1.2rem;
    border-color: @BackgroundColor;
}
.navbar{
    color: @FontColor_Primary !important;
    border-radius: 15px;
    margin: 15px !important;
}
.nav{
    justify-content: center;
}
.nav-item{
    color: @ShapeColor1_Primary !important;
    transition: color .5s;
    -webkit-transition: color .5s;
}
.nav-item:hover{
    color: @BackgroundColor !important;
}
.navbar:hover{
    background-color: @ShapeColor1_Secondary;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
}
.d-flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.d-flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.carousel{
    border-radius: 15px;
}
.pic-frame{
    .d-flex-row;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    padding: 2px;
    border-radius: 100%;
    border: 2px solid;
    border-color: @FontColor_Primary;

    transition: background-color .5s;
    -webkit-transition: background-color .5s;
}
.pic-frame img{
    width: @width;
    height: @width;
    border-radius: 100%;
}
.pic-frame:hover{
    background-color: @FontColor_Primary;
}
.author{
    .d-flex-column;
    position: relative;
    width: @width;
    align-items: center;
}
.author h2{
    margin-top: 90px;
}
.section{
    align-items: center;
    justify-content: center;
    font-family: secondaryFont;
    font-size: 1rem;
    text-justify: newspaper;
    text-align: center;
    color: @FontColor_Primary;
    background-color: @ShapeColor1_Primary;

    padding: @padding;
    margin-top: @margin;
    border-radius: @borderRadius;

    transition: background-color .5s;
    -webkit-transition: background-color .5s;

    animation: Animation 2s;
    animation-fill-mode: forwards;
}
.vertical-section{
    .d-flex-column;
    .section;
    background-color: @BackgroundColor !important;
    color: @ShapeColor1_Primary;
    border: solid .2rem @ShapeColor1_Primary;
}
.horizontal-section{
    .d-flex-row;
    .section;
}
.horizontal-section:hover{
    background-color: @ShapeColor1_Secondary;
}
.vertical-section:hover{
    background-color: @ShapeColor1_Secondary;
}
.vertical-section a:hover{
    background-color: @FontColor_Primary;
}
.vertical-section a:active{
    background-color: @FontColor_Primary;
}
.horizontal-section p{
    width:  @width;
    text-align: center;
    letter-spacing: 0.096rem;
}
.horizontal-section p::first-letter{
    font-size: 1.5srem;
}
.text-section{
    .d-flex-row;
    align-items: center;
    justify-content: center;
    font-family: secondaryFont;
    font-size: 1rem;
    text-justify: newspaper;
    text-align: justify;
    color: @BackgroundColor;
    background-color: @ShapeColor2_Primary;

    padding: @padding;
    margin-top: @margin;
    border-radius: @borderRadius;

    transition: background-color .5s;
    -webkit-transition: background-color .5s;
}
.text-section:hover {
    background-color: @ShapeColor2_Secondary;
}
.text-class{
  text-align: justify !important;
  font-size: .85rem;
}
.sample-section{
    .d-flex-row;
    font-family: secondaryFont;
    font-size: 1rem;
    text-justify: newspaper;
    text-align: justify;
    height: 400px;
    padding: @padding;
    margin: @margin;
    border-radius: @borderRadius;
}
.sample-art{
    width: 250px;
    height: 250px;
    animation: SampleArtAnimation 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.skill-section{
    .d-flex-row;
    font-family: secondaryFont;
    font-size: 1rem;
    background-color: @ShapeColor2_Primary;
    color: @BackgroundColor;
    padding: @padding;
    margin-top: @margin;
    border-radius: @borderRadius;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
}
.skill-section:hover{
    background-color: @ShapeColor2_Secondary;
}
.green{
    background-color: @GreenColor !important;
}
.blue{
    background-color: @BlueColor !important;
}
.red{
    background-color: @RedColor !important;
}
.progress{
    padding: 0 !important;
    margin: 5px !important;
    background-color: @BackgroundColor;
}
.progress-bar{
    font-weight: bold;
    color: @BackgroundColor;
    text-align: left !important;
    text-indent: 1%;
}
.nav-link{
    .pic-frame;
    width: 35px;
    height: 35px;
    position: relative;
    border: none;
}
.fab{
    color: @ShapeColor1_Primary;
    font-size: 1.5rem;
}
h1 , h2 , h3 , h4 , h5 , h6{
    font-weight: bold;
}
.section-footer{
    .horizontal-section;
    font-size: smaller;
    margin-bottom: @margin;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
}
.section-footer:hover{
    background-color: @ShapeColor1_Secondary;
}

/* Animation */
@keyframes Animation{
    to{
        padding-bottom: 5%;
        padding-top: 5%;
    }
}
@keyframes SampleArtAnimation{
    0%{
        width: 250px;
        height: 250px;
        transform: rotate(2deg);
    }
    50%{
        width: 255px;
        height: 255px;
        transform: rotate(-2deg);
    }
    100%{
        width: 250px;
        height: 250px;
        transform: rotate(2deg);
    }
}
@keyframes progress-bar-stripes
{
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1rem 0;
    }
}