/* Color variables */
/* Size variables */
/* fonts */
@font-face {
  font-family: primaryFont;
  src: url(../../fonts/Alegreya-Bold.otf);
}
@font-face {
  font-family: SecondaryFont;
  src: url(../../fonts/Lato-Light.ttf);
}
body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eeeeee;
  font-size: 100%;
}
img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* classes */
.carousel-item img {
  height: 400px;
}
.bg-light {
  background-color: #eeeeee !important;
}
.bg-light:hover {
  background-color: #fda403 !important;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}
.flex-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-sharp {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.bottom-sharp {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.left-sharp {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.right-sharp {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.top-none {
  border-top: none !important;
}
.bottom-none {
  border-bottom: none !important;
}
.left-none {
  border-left: none !important;
}
.right-none {
  border-right: none !important;
}
.w-15 {
  width: 15%;
}
.w-85 {
  width: 85%;
}
.links {
  width: 10%;
}
.card {
  margin: 15px !important;
}
.progress {
  margin: 15px !important;
  border-style: solid;
  height: 1.2rem;
  border-color: #2b2e4a;
}
.d-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.carousel {
  border-radius: 15px;
}
.pic-frame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.pic-frame img {
  width: 85px;
  height: 85px;
  border: solid 0.1rem #eeeeee;
  border-radius: 100%;
  padding: 2px;
}
.section {
  align-items: center;
  justify-content: center;
  font-family: SecondaryFont;
  font-size: 1rem;
  text-justify: newspaper;
  text-align: center;
  padding: 2%;
  border-radius: 0.5rem;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}
.blue-section {
  background-color: #2b2e4a;
  color: #eeeeee;
}
.white-section {
  background-color: #eeeeee;
  color: #2b2e4a;
}
.white-section p {
  color: #2b2e4a;
}
.white-section h1,
.white-section h2,
.white-section h3,
.white-section h4,
.white-section h5,
.white-section h6 {
  color: #2b2e4a;
}
.contact-section {
  align-items: center;
  justify-content: center;
  font-family: SecondaryFont;
  font-size: 1rem;
  text-justify: newspaper;
  text-align: center;
  padding: 2%;
  border-radius: 0.5rem;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  border: solid 0.2rem #eeeeee;
}
.contact-section a {
  background-color: #2b2e4a;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
}
.contact-section a:hover {
  background-color: #fda403;
}
.contact-section a:active {
  background-color: #fda403;
}
.contact-section .nav {
  justify-content: center;
}
.contact-section .nav-item .nav-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 5px;
  position: relative;
  border: none;
}
.horizontal-section {
  align-items: center;
  justify-content: center;
  font-family: SecondaryFont;
  font-size: 1rem;
  text-justify: newspaper;
  text-align: center;
  padding: 2%;
  border-radius: 0.5rem;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  padding: 0px;
  border: solid 0.2rem #eeeeee;
}
.horizontal-section p {
  font-size: 80%;
  width: 100%;
  text-align: center;
  letter-spacing: 0.096rem;
}
.horizontal-section .nav-item a {
  color: #414672;
  font-size: 1rem;
  font-weight: bold;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.horizontal-section .nav-item .nav-link.active {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  background-color: #2b2e4a !important;
  color: #eeeeee;
}
.horizontal-section .nav-item:hover {
  color: #2b2e4a !important;
}
.text-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: SecondaryFont;
  font-size: 1.2rem !important;
  text-justify: newspaper;
  text-align: justify;
  border-radius: 0.5rem;
}
.text-class {
  text-align: justify !important;
  font-size: 1rem;
}
.text-class p::first-letter {
  font-size: 1.5rem;
}
.sample-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: SecondaryFont;
  font-size: 1rem;
  text-justify: newspaper;
  text-align: justify;
  height: 400px;
  border-radius: 0.5rem;
}
.sample-art {
  width: 250px;
  height: 250px;
  animation: SampleArtAnimation 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
.badge {
  color: #eeeeee;
  background-color: #2b2e4a;
}
.skill-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: SecondaryFont;
  font-size: 1rem;
  color: #eeeeee;
  border-radius: 0.5rem;
}
.skill-section .badge {
  font-size: 0.65rem;
  font-weight: bold;
}
.green {
  background-color: #126d43 !important;
}
.blue {
  background-color: #15616b !important;
}
.red {
  background-color: #d41740 !important;
}
.progress {
  padding: 0 !important;
  margin: 5px !important;
  background-color: #2b2e4a;
}
.progress-bar {
  font-weight: bold;
  background-color: #fda403;
  color: #2b2e4a;
  text-align: left !important;
  text-indent: 1%;
}
.progress-bar p {
  font-family: SecondaryFont;
  font-size: 0.65rem;
  font-weight: bold;
}
.project {
  background-color: #eeeeee;
  color: #2b2e4a;
  text-decoration: none;
  border: 0.12rem solid;
  border-color: #2b2e4a;
  border-radius: 0.5rem;
  text-indent: 1rem;
  font-size: 0.8rem;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
}
.project p {
  color: #2b2e4a;
}
.project h1,
.project h2,
.project h3,
.project h4,
.project h5,
.project h6 {
  color: #2b2e4a;
}
.project:hover {
  text-decoration: none;
  background-color: #2b2e4a;
  color: #eeeeee;
}
.fab {
  color: #eeeeee;
  font-size: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
.message {
  font-size: smaller;
  color: #cecece;
}
/* Animation */
@keyframes SampleArtAnimation {
  0% {
    width: 250px;
    height: 250px;
    transform: rotate(2deg);
  }
  50% {
    width: 255px;
    height: 255px;
    transform: rotate(-2deg);
  }
  100% {
    width: 250px;
    height: 250px;
    transform: rotate(2deg);
  }
}
@keyframes progress-bar-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1rem 0;
  }
}
